@font-face {
   font-family: 'Mermaid';
    src: url('https://k8sh3qbxrn.github.io/Mermaid-Bold.woff2') format('woff2'),
        url('https://k8sh3qbxrn.github.io/Mermaid-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 20px
    }

h1 {
    text-align:center;
    font-size: 28px;
    font-family: Mermaid;
  }
  
#bella{
    width: 25%;
    height: auto;
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
figcaption {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  