@font-face {
   font-family: 'Mermaid';
    src: url('https://k8sh3qbxrn.github.io/Mermaid-Bold.woff2') format('woff2'),
        url('https://k8sh3qbxrn.github.io/Mermaid-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 20px
    }

h3 {
    text-align:center;
    font-size: 28px;
    font-family: Mermaid;
  }
  
#bella{
    width: 25%;
    height: auto;
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
figcaption {
  text-align: center
  }
#kate{
    width: 25%;
    height: auto;
  }
#romy{
    width: 25%;
    height: auto;
  }
#thana{
    width: 25%;
    height: auto;
  }
#lana{
    width: 25%;
    height: auto;
  }
h4 {
    text-align:center;
  }
a {
    white-space: nowrap;
}
.image-list-small {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
  max-width: 640px;
  padding: 0;
}

.image-list-small li {
  display: inline-block;
  width: 181px;
  margin: 0 12px 30px;
}


/* Photo */

.image-list-small li > a {
  display: block;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  height: 137px;
  margin: 0;
  padding: 0;
}


/* Title */

.image-list-small .details h3 {
  display: block;
  font-size: 12px;
  margin: 0 0 3px 0;
  white-space: normal;
  overflow: visible;
}

.image-list-small .details h3 a {
  color: #303030;
  text-decoration: none;
}

.image-list-small .details .image-author {
  display: block;
  color: #717171;
  font-size: 11px;
  font-weight: normal;
  margin: 0;
}
#pics {
  display: block;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  height: 137px;
  margin: 0;
  padding: 0;

}